<a href="/post/{{id}}">
    <div class="card border-dark">
        <div class="card-header py-2">
            {{title}}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{content}}</p>
                <footer class="blockquote-footer">
                    Posted by <cite title="username">{{user.username}}</cite> on {{format_date date_created}}
                </footer>
            </blockquote>
        </div>
    </div>
</a>